

<ng-container>
  <div class="form">
    <form class="formContent" novalidate [formGroup]="validateUsers">
      <label>Nom</label><br><!--[(ngModel)]="registeredUser.name"-->
      <input name="name" formControlName="name"><br>
      <label>Cognom</label><br>
      <input name="lastName" formControlName="lastName"><br>
      <label>Edat</label><br>
      <input name="age" formControlName="age" ><br>
      <label>Descripció</label><br>
      <input name="description" formControlName="description"><br>
      <label>Correu</label><br>
      <input name="mail" formControlName="mail"><br>
      <label>Contrasenya</label>
      <input name="password" formControlName="password"><br>
      <label>Confirmar contrasenya</label>
      <input name="password" formControlName="confirmPassword"><br>
      <label>Foto</label>
      <img src="{{registeredUser.photo}}" alt="">
      <input type="file" accept="image/*" formControlName="photo" (change)="uploadFile($event)" #fileInput >
      <button [disabled]="!validateUsers.valid" (click)="registerUsers()"> registrar</button>
    </form>
</div>

</ng-container>
