<ng-container>
  <div>
    <form>
      <label>Nom</label><br>
      <input name="name" [(ngModel)]="registeredUser.name">
      <label>Cognom</label>
      <input name="lastName" [(ngModel)]="registeredUser.lastName">
      <label>Edat</label>
      <input name="age" [(ngModel)]="registeredUser.age">
      <label>Descripció</label>
      <input name="description" [(ngModel)]="registeredUser.description">
      <label>Correu</label>
      <input name="mail" [(ngModel)]="registeredUser.mail">

    </form>
</div>
</ng-container>
